.Intro {
  display: flex;
  height: 77vh;
  margin-top: 6rem;
  margin-bottom: 0rem;
}

/* left side styling */
.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}
.i-name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(3) {
  font-weight: 100;
  font-size: 14px;
  color: var(--gray);
  margin-top: 10px;
}
.i-button {
  width: 7rem;
  height: 2rem;
}
.i-icons {
  margin-top: 3rem;
  display: flex;
  gap: 0rem;
}
.i-icons > * {
  transform: scale(0.5);
}
.i-icons > *:hover {
  cursor: pointer;
}
/* right side styling */
.i-right {
  flex: 1;
  position: relative;
}
.i-right > * {
  position: absolute;
  z-index: 10;
}
/* .i-right > :nth-child(1) {
  transform: scale(0.69);
  left: -15%;
  top: -9%;
  z-index: -11;
}
.i-right > :nth-child(2) {
  top: -4.6rem;
  transform: scale(0.67);
  left: -3rem;
  z-index: -11;
} */
.i-right > :nth-child(1) {
  transform: scale(1.4);
  left: 38%;
  z-index: -10;
}
.i-right > :nth-child(2) {
  font-size: 2.5rem;
  font-weight: 700;
  top: -9%;
  left: -24%;
  padding: 0;
}

/* blur */
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(212px);
  z-index: -9;
  top: -18%;
  left: 56%;
  filter: blur(72px);
}

@media screen and (max-width: 480px) {
  .Intro {
    flex-direction: column;
    gap: 7rem;
    height: 64rem;
  }

  .i-right {
    transform: scale(0.8);
    left: -3rem;
  }
  .i-right .blur {
    display: none;
  }
  .floating-div:nth-of-type(1){
    /* display: none; */
    top: -7rem !important;;
  }
}

.i-logo>span {
  top: -5%;
  height: 70%;
  width: 40%;
  font-size:23rem;
  color:var(--orange);
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  text-shadow: 2px 2px 2px var(--orange),
  2px 3px 2px var(--orange),
  2px 4px 2px var(--orange),
  2px 5px 2px var(--orange),
  2px 6px 2px var(--orange),
  2px 7px 2px var(--orange),
  2px 8px 2px var(--orange),
  2px 9px 2px var(--orange),
  2px 10px 2px var(--orange),
  2px 11px 2px var(--orange),
  2px 18px 6px rgba(16,16,16,0.4),
  2px 22px 10px rgba(16,16,16,0.2),
  2px 25px 35px rgba(16,16,16,0.2),
  2px 30px 60px rgba(16,16,16,0.4);

}
